*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_right{
    display: flex;
    justify-content: space-between;
}
.nav_btn{
    text-decoration: none;
    font-size: 15px;
    margin: 15px;
}